<div class="container w-50">
  <main class="form-signin">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="text-center">
        <img class="mb-4 mt-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72"
             height="57">
      </div>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <label for="input-Email" class="visually-hidden">Email address</label>
      <input type="email" id="input-Email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus ngModel>
      <label for="input-Password" class="visually-hidden">Password</label>
      <input type="password" id="input-Password" name="inputPassword" class="form-control" placeholder="Password" required ngModel>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" id="remember-me" value="remember-me" name="rememberMe" ngModel> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2021</p>
    </form>
  </main>
</div>

